{% extends "base.html" %}
{% load static %}

{% block extra_title %}JAVASCRIPT{% endblock %}

{% block content %}

    <div class="row">
        <div class="col"></div>
        <div class="col text-center">
            <h1 class="title pt-4">Pong Game</h1>
        </div>
        <div class="col"></div>
    </div>
    <div class="row pt-4">
        <div class="col-2"></div>
        <div class="col-8">
            <canvas width="750" height="585" id="game"></canvas>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}
