@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Dark Mode Theme */
:root.light {
    --bodytext: 'Inter', 'sans-serif';
    --menu-color: #41496f;
    --card-color: 65, 73, 111;
    --background-color: #616972;
    --btn-hover-color: #D0D0D0;
    --btn-hover-font: #000;
    --accent-color: #bd0026;
    --font-color: #fff;
    --toggler: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/* Light Mode Theme */
:root:not(.light) {
    --bodytext: 'Inter', 'sans-serif';
    --menu-color: #7781af;
    --card-color: 118, 129, 175;
    --background-color: #c1c5ca;
    --btn-hover-color: #969696;
    --btn-hover-font: #fff;
    --accent-color: #ff476c;
    --font-color: #000;
    --toggler: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/* Common Styles */
html {
    box-sizing: border-box;
    height: 100%;
}
body {
    text-align: center;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    font-family: var(--bodytext);
    color: var(--font-color);
}
main {
    flex-grow: 1;
}